numpy>=1.13.0
-e git+https://github.com/facebookresearch/ParlAI.git@9800a9241dbb89ae2ce4b51653ec158ebce799d4#egg=parlai
tensorflow>=1.2.1
Keras>=2.0.6
http://download.pytorch.org/whl/cu80/torch-0.2.0.post1-cp35-cp35m-manylinux1_x86_64.whl
torchvision>=0.1.9
